/* Start Order CSS */
.custom-quick-action-panel::part(header) {
    text-align: left !important ;
    color: #00256e !important;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn_next{
    display: flex;
    gap: 12px; /* หรือใช้ margin ก็ได้ */
    justify-content: flex-end; /* ถ้าต้องการให้ปุ่มไปชิดขวา */
}


.cancel:hover {
    /* background-color: none; */
    --slds-c-button-brand-color-background: none;
}

.main_product {
    font-size: 14px !important;
}

.title_product{
    font-size: 20px;
}


